html {
  font-family: Helvetica, Arial, sans-serif;
}

header,
main,
footer {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  background-color: #ccc;
  font-size: 36px;
}

h2 {
  color: tomato;
}


.mainmenu {
  list-style-type: none;
  padding: 0;
  text-align: right;
}

.mainmenu li {
  display: inline-block;
}
